<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{56,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,73}}</string>
                <key>sourceSize</key>
                <string>{56,73}</string>
            </dict>
            <key>back_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{56,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,73}}</string>
                <key>sourceSize</key>
                <string>{56,73}</string>
            </dict>
            <key>card_backgroud.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,76}}</string>
                <key>sourceSize</key>
                <string>{59,76}</string>
            </dict>
            <key>card_big_ghost_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,47},{6,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,43}}</string>
                <key>sourceSize</key>
                <string>{6,43}</string>
            </dict>
            <key>card_big_ghost_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,59},{36,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,55}}</string>
                <key>sourceSize</key>
                <string>{36,55}</string>
            </dict>
            <key>card_num_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,236},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>card_num_b10.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,233},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>card_num_b11.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,219},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>card_num_b12.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,199},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>card_num_b13.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,179},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>card_num_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,236},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>card_num_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,226},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>card_num_b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,222},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>card_num_b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,212},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>card_num_b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,208},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>card_num_b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,208},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>card_num_b8.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,233},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>card_num_b9.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,213},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>card_num_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,179},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>card_num_r10.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,170},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>card_num_r11.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,156},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>card_num_r12.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,136},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>card_num_r13.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,116},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>card_num_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,199},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>card_num_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,238},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>card_num_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>card_num_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,179},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>card_num_r6.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,179},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>card_num_r7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>card_num_r8.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,198},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>card_num_r9.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,184},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>card_small_ghost_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{6,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,43}}</string>
                <key>sourceSize</key>
                <string>{6,43}</string>
            </dict>
            <key>card_small_ghost_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{36,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,55}}</string>
                <key>sourceSize</key>
                <string>{36,55}</string>
            </dict>
            <key>card_type_club.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,178},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>card_type_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,116},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>card_type_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,148},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>card_type_spade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e4d1753a2d6b1c005836554beb9e6a8$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
